/* Importamos la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--bg-header: #060606;
--bg-body: #0f0f0f;
--font-color: #fdfdfd;
--title-color: #BB86FC;
--marvel-color: #761d24; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg-body);
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./assets/uploads/movie-bg-hero1.svg");
    background-position-y: 45px;
    background-size: cover;
}

header, footer{
    height: 60px;
    background-color: var(--bg-header);
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    color: var(--font-color);
}

header nav, footer p, main{
    max-width: 80vw;
    width: 1280px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li{
    font-family: 'Roboto';
    font-size: 0.8rem;
}

li img{
    height: 90px;
}

main {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

main article{
    flex-grow: 1;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    max-height: 600px;
    background-color: var(--bg-header);
    display: flex;
    gap: 20px;
}

article div{
    font-family: 'Poppins';
    color: var(--font-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article img{
    max-height: 450px;
}

/* article h2{
    height: 20%;
} */

footer p{
    text-align: center;
}

footer a{
    color: var(--title-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
